h3.content-title {
    --primary-color: #248c60;
    --secondary-color: #1a9be6;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

ul.job-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 66%;
}

li.job-item {
    display: flex;
    flex-direction: column;
    gap: 1em;

    list-style: none;

    border-left: 1px solid #abaaed;
    position: relative;
    padding-bottom: 2em;
    padding-left: 2em;
    margin-left: 12px;
}

li.job-item:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #e9ebec;
    border: 1px solid #abaaed;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

li.job-item:last-child {
    border: 0;
    padding-bottom: 0;
}

.job-item > .title {
    font-size: 1.5em;
    display: flex;
    margin: 0;
}

.job-item > .location {
    position: relative;
    top: -1px;
}

.job-item > .phone {
    display: flex;
    margin: 0;
}

.job-item > .description {
    display: flex;
    margin: 0;
}
