<!DOCTYPE html> {% extends 'base.html' %}
<!-- Imports -->
{% block imports %}
<link lang="css" rel="stylesheet" href="./static/styles/work-experience.css" />
{% endblock %}
<!-- Add content here -->
{% block content %}
<h3 class="content-title">Work Experience</h3>
<ul class="job-wrapper">
    {% for job in jobs %}
    <li class="job-item">
        <div class="location">{{ job.location }}</div>
        <h4 class="title">{{ job.name }}</h4>
        <p class="phone">{{ job.contact }}</p>
        <p class="description">{{ job.description }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
